@media (min-width: 1024px) {
  h1 {
    font-size: 1.2em;
  }

  .footer-container {
    margin: 4em 6em;
  }

  .footer-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .newsletter-form {
    display: flex;
    flex-direction: row;
  }

  .about-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
  }

  #email {
    width: 230px;
  }

  .btn-subscribe {
    width: 120px;
  }
}
