@media (min-width: 700px) and (max-width: 1023px) {
  /* Typography */
  h1 {
    font-size: 1.2em;
  }

  /* Layout */
  .footer-container {
    margin: 3em 5em;
  }

  .newsletter-form {
    display: flex;
    flex-direction: row;
  }

  .about-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
  }

  /* Components */
  #email {
    width: 230px;
  }

  .btn-subscribe {
    width: 120px;
  }
}
